body{
   margin: 0;
   padding: 0;
}

img {
    display: block;
}

.contain{
    width: 80%;
    margin: 150px auto;
    padding: 0 auto;
}

.card{
    position: relative;
    width: 30%;
    margin-right: 4%;
    text-align: center;
    display: inline-block;
    
}

.card>img{
    width: 100%;
    display: inline-block;
}

.tiket{
    position:absolute;
    bottom: 20px;
    left: 0;
    display:inline-block;
}

.discount{
    padding: 2px 5px 2px 2px;
    background-color: crimson;
    color: white;
}

.caratteristica{
    left: 45px;
    padding: 2px 5px 2px 5px;
    background-color: green;
    color: white;
}

.like{
    color: white;
    font-size: 25px;
    position:absolute;
    top: 20px;
    right: 0px;
    display:inline-block;
    z-index: 1;
}

.like-contain{
    width: 30px;
    background-color: brown;
    padding: 10px 15px 10px 15px;
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    visibility: hidden;
}

.card:hover .img-hover{
    visibility: visible;
}

.contain>.card:nth-child(3){
    margin-right: 0;
}